<div class="login-form-page">
  <div class="login-form-box">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class:"text-left" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"text-left" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"w-100" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"text-left" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"w-100" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-primary mr-2" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
