<p id="notice"><%= notice %></p>

<h1>Shortners</h1>

<table>
  <thead>
    <tr>
      <th>Original url</th>
      <th>Short url</th>
      <th>Click count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shortners.each do |shortner| %>
      <tr>
        <td><%= shortner.original_url %></td>
        <td><%= shortner.short_url %></td>
        <td><%= shortner.click_count==nil ? "0" : shortner.click_count  %></td>
        <td><%= link_to 'Show', shortner %></td>
        <td><%= link_to 'Edit', edit_shortner_path(shortner) %></td>
        <td><%= link_to 'Destroy', shortner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortner', new_shortner_path %>
